/* Left Navigation */
.leftnav
{
    width: 210px;
    margin-top: 8px;
}

.leftnav.pinned
{
    top: 60px;
    position: fixed;
}

.leftnav > ul > li
{
    margin-left: 15px;
}

.leftnav > ul > li.menu
{
    margin-left: 0;
    padding-left: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(61, 61, 92);
}

.leftnav > ul > li + li
{
    padding-top: 5px;
}

.leftnav > ul > li.menu > i
{
    color: rgb(255, 255, 255);
}

.leftnav > ul > li > a
{
    text-decoration: none;
    color: rgb(240, 32, 100);
    padding: 0 0 0 5px !important;
}

.leftnav > ul > li.active > a,
.leftnav > ul > li.active > a:hover,
.leftnav > ul > li.active > a:focus
{
    color: rgb(255, 255, 255);
    background-color: rgb(240, 32, 100);
}

/* Menu Items */
.infoblock + .infoblock
{
    padding-top: 30px;
}

.infoblock > .header
{
    font-size: 24px;
    margin-bottom: 10px;
    border-bottom: solid 1px rgb(227, 227, 227);
}

.infoblock > .summary
{
    font-weight: bold;
    margin-bottom: 5px;
}