.container
{
    width: 900px;
}

.container.beginning
{
    padding-top: 25px;
}

.container.ending
{
    padding-bottom: 25px;
}

.heading
{
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 1px dotted rgb(204, 204, 204);
}