<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/styles/stylesheet-packed.css")" type="text/css" rel="stylesheet" />
</head>
<body>
    <div>
        <div id="sc2307" class="atv4 sc-view sc-pane sc-main mail focus" style="left: 0px; right: 0px; top: 0px; bottom: 0px; min-width: 1050px; min-height: 500px">
            <div id="sc2312" class="atv4 sc2311 sc-view sc-split-view split sc-layout-horizontal" style="left: 0px; right: 0px; top: 44px; bottom: 0px; ">
                <div role="group" aria-label="Mailboxes" id="sc2315" class="atv4 sc2311 sc-view top-left-view" style="left: 0px; top: 0px; bottom: 0px; width: 250px">
                    <div id="sc2462" class="atv4 sc2311 sc-view sc-scroll-view left source-list stack-order" style="left: 0px; right: 0px; top: 0px; bottom: 44px">
                        <div class="corner"></div>
                        <div id="sc2464" class="atv4 sc2311 sc-view sc-container-view" style="left: 0px; right: 0px; top: 0px; bottom: 0px; ">
                            <div role="tree" tabindex="0" id="sc2468" class="source-list atv4 sc2311 sc-view sc-collection-view sc-list-view sc-source-list folder-list collection no-disclosure" style="left: 0px; right: 0px; top: 1px; bottom: 0px; min-height: 352px; ">
                                <div role="treeitem" aria-level="1" aria-selected="true" id="sc2468-0" class="source-list atv4 sc2311 sc-view sc-list-item-view sc-collection-item zero-digit leaf-node has-no-parent level-0 even has-icon sel sc-regular-size" style="left: 0px; right: 0px; top: 0px; height: 44px">
                                    <div class="sc-outline" style="left: 16px; ">
                                        <img src="data:image/gif;base64,R0lGODlhAQABAJAAAP///wAAACH5BAUQAAAALAAAAAABAAEAAAICBAEAOw==" class="inbox icon">
                                        <label class="me-sourcelist-row-title" title="Inbox">Assessments</label>
                                    </div>
                                </div>
                                <div role="treeitem" aria-level="1" aria-selected="false" id="sc2468-1" class="source-list atv4 sc2311 sc-view sc-list-item-view sc-collection-item zero-digit vip leaf-node has-no-parent level-0 odd has-icon sc-regular-size" style="left: 0px; right: 0px; top: 44px; height: 44px">
                                    <div class="sc-outline" style="left: 16px; ">
                                        <img src="data:image/gif;base64,R0lGODlhAQABAJAAAP///wAAACH5BAUQAAAALAAAAAABAAEAAAICBAEAOw==" class="vip icon">
                                        <label class="me-sourcelist-row-title" title="VIP">Clients</label>
                                    </div>
                                </div>
                                <div role="treeitem" aria-level="1" aria-selected="false" id="sc2468-2" class="source-list atv4 sc2311 sc-view sc-list-item-view sc-collection-item zero-digit leaf-node has-no-parent level-0 even has-icon sc-regular-size" style="left: 0px; right: 0px; top: 88px; height: 44px">
                                    <div class="sc-outline" style="left: 16px; ">
                                        <img src="data:image/gif;base64,R0lGODlhAQABAJAAAP///wAAACH5BAUQAAAALAAAAAABAAEAAAICBAEAOw==" class="drafts icon">
                                        <label class="me-sourcelist-row-title" title="Drafts">Calendars</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="scrollbar" aria-disabled="true" aria-orientation="vertical" aria-valuemax="-1" aria-valuemin="0" aria-valuenow="0" aria-controls="sc2468" id="sc2477" class="atv4 sc2311 sc-view sc-scroller-view sc-fading-capless-scroller-view sc-hidden disabled sc-vertical controls-hidden sc-fading-capless-scroller-view-invisible" style="left: 0px; right: 0px; top: 0px; bottom: 0px">
                            <div class="track"></div>
                            <div class="thumb" style="height: 408px; top: 2px; opacity: 0.0010000000000000009;">
                                <div class="thumb-center"></div>
                            </div>
                        </div>
                    </div>
                    <div id="sc2320" class="atv4 sc2311 sc-view refresh-button-container" style="left: 0px; right: 0px; bottom: 0px; height: 44px; ">
                        <div role="button" tabindex="0" title="Show Actions menu" alt="Show Actions menu" id="toolbar-actions-menu" class="atv4 borderless sc2311 sc-view sc-button-view n-m-w button" style="left: 9px; width: 30px; top: 7px; height: 30px"><img src="data:image/gif;base64,R0lGODlhAQABAJAAAP///wAAACH5BAUQAAAALAAAAAABAAEAAAICBAEAOw==" class="actions"></div>
                        <div role="button" tabindex="0" title="Get Mail" alt="Get Mail" id="sc2329" class="atv4 sc2311 sc-view sc-button-view sc-image-button-view n-m-w refresh-button image-button sc-regular-size no-min-width" style="right: 1px; width: 42px; top: 0px; height: 42px; ">
                            <div class="img refresh-icon"></div>
                        </div>
                        <div id="sc2333" class="atv4 sc2311 sc-view sc-hidden" style="right: 10px; width: 24px; top: 10px; height: 24px">
                            <div class=" refresh-spinner-image escapes-gpu-disabled" style="position: absolute; top: 0px; left: 0px; width: 24px; height: 288px;"></div>
                        </div>
                    </div>
                </div>
                <div id="sc3038" class="atv4 sc2311 sc-view sc-split-divider-view folder-list-divider split-divider sc-regular-size" style="left: 247px; top: 0px; bottom: 0px; cursor: ew-resize; width: 5px">
                    <div class="line"></div>
                </div>

                <div id="sc2339" class="atv4 sc2311 sc-view right-pane-container" style="left: 250px; top: 0px; bottom: 0px; width: 1002px">
                    <div id="sc2343" class="atv4 sc2342 sc-view sc-split-view messages split sc-layout-horizontal" style="left: 0px; right: 0px; top: 0px; bottom: 0px">
                        <div role="group" aria-label="Messages" id="sc2348" class="atv4 sc2342 sc-view" style="left: 0px; top: 0px; width: 380px; bottom: 0px">
                            <div id="sc2524" class="atv4 sc2342 sc-view search-pane-view sc-hidden" style="left: 0px; right: 0px; top: 0px; height: 44px">
                                <div role="tablist" tabindex="0" id="sc2529" class="atv4 borderless sc2342 sc-view sc-segmented-view segmented sc-small-size" style="left: 8px; right: 8px; top: 9px; height: 30px; text-align: left;">
                                    <div role="tab" aria-selected="false" aria-labelledby="sc2986-label" id="search-from" class="atv4 borderless sc2342 sc-view sc-segment-view sc-static-layout segment sc-first-segment sc-segment-0 sc-small-size" style="left: 0px; width: 25%; top: 0px; bottom: 0px"><label id="sc2986-label" class="sc-button-label sc-small-size ellipsis">From</label></div>
                                    <div role="tab" aria-selected="false" aria-labelledby="sc2987-label" id="search-to" class="atv4 borderless sc2342 sc-view sc-segment-view sc-static-layout segment sc-middle-segment sc-segment-1 sc-small-size" style="left: 0px; width: 25%; top: 0px; bottom: 0px"><label id="sc2987-label" class="sc-button-label sc-small-size ellipsis">To</label></div>
                                    <div role="tab" aria-selected="false" aria-labelledby="sc2988-label" id="search-subject" class="atv4 borderless sc2342 sc-view sc-segment-view sc-static-layout segment sc-middle-segment sc-segment-2 sc-small-size" style="left: 0px; width: 25%; top: 0px; bottom: 0px"><label id="sc2988-label" class="sc-button-label sc-small-size ellipsis">Subject</label></div>
                                    <div role="tab" aria-selected="true" aria-labelledby="sc2989-label" id="search-all" class="atv4 borderless sc2342 sc-view sc-segment-view sc-static-layout segment sc-last-segment sc-segment-3 sc-small-size sel" style="left: 0px; width: 25%; top: 0px; bottom: 0px" title=""><label id="sc2989-label" class="sc-button-label sc-small-size ellipsis">All</label></div>
                                    <div role="tab" title="More..." alt="More..." aria-selected="false" aria-label="More..." id="sc2532" class="atv4 borderless sc2342 sc-view sc-segment-view sc-hidden sc-static-layout segment sc-last-segment sc-overflow-segment sc-small-size" style=""><label id="sc2990-label" class="sc-button-label sc-small-size ellipsis">»</label></div>
                                </div>
                            </div>
                            <div id="sc2355" class="atv4 sc2342 sc-view sc-container-view" style="left: 0px; right: 0px; top: 0px; bottom: 0px">
                                <div id="sc2486" class="atv4 sc2342 sc-view message-list" style="left: 0px; right: 0px; top: 0px; bottom: 0px">
                                    <div id="sc2488" class="atv4 sc2342 sc-view column-header sc-regular-size" style="left: 0px; right: 0px; top: 0px; height: 24px">
                                        <div role="button" tabindex="0" id="sc2492" class="atv4 borderless sc2342 sc-view sc-button-view switch-header button" style="left: 0px; width: 29px; top: 1px; height: 23px" title="Hide Mailboxes" alt="Hide Mailboxes"><img src="data:image/gif;base64,R0lGODlhAQABAJAAAP///wAAACH5BAUQAAAALAAAAAABAAEAAAICBAEAOw==" class="hide"></div>
                                        <div role="button" tabindex="0" aria-haspopup="true" id="sc2498" class="atv4 borderless sc2342 sc-view sc-button-view folder-drop-down sc-hidden button sc-regular-size" style="left: 100px; right: 118px; top: 2px; height: 18px" title="">
                                            <label id="sc2991-label" class="sc-button-label sc-regular-size ellipsis">Inbox (0)<img src="data:image/gif;base64,R0lGODlhAQABAJAAAP///wAAACH5BAUQAAAALAAAAAABAAEAAAICBAEAOw==" alt="" class="black-caret"></label>
                                        </div>
                                        <div id="sc2501" class="atv4 sc2342 sc-view text-align-right" style="right: 6px; width: 118px; top: 2px; bottom: 0px; ">
                                            <div role="button" tabindex="0" aria-haspopup="true" id="sc2504" class="atv4 borderless sc2342 sc-view sc-button-view sort-header button sc-regular-size icon" style="right: 0px; top: 0px; bottom: 0px; width: 98px" title="">
                                                <label id="sc2992-label" class="sc-button-label sc-regular-size ellipsis icon"><img src="data:image/gif;base64,R0lGODlhAQABAJAAAP///wAAACH5BAUQAAAALAAAAAABAAEAAAICBAEAOw==" class="icon down-arrow">Sort by Date</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="sc2509" class="atv4 sc2342 sc-view border" style="left: 0px; right: 0px; top: 24px; height: 1px"></div>
                                    <div id="sc2512" class="atv4 sc2342 sc-view loading-box sc-hidden" style="margin-left: -87px; left: 50%; width: 174px; bottom: 40px; height: 54px">
                                        <div id="sc2514" class="atv4 sc2342 sc-view" style="left: 30px; top: 13px; width: 28px; height: 28px">
                                            <div class=" message-list-loading-box-spinner escapes-gpu-disabled" style="position: absolute; top: 0px; left: 0px; width: 28px; height: 336px;"></div>
                                        </div>
                                        <div id="sc2517" class="atv4 sc2342 sc-view sc-label-view label sc-regular-size" style="left: 71px; right: 0px; top: 18px; height: 22px; ">Loading…</div>
                                    </div>
                                    <div id="sc4506" class="atv4 sc2342 sc-view" style="left: 0px; right: 0px; top: 25px; bottom: 0px">
                                        <div id="sc4508" class="atv4 sc2342 sc-view sc-scroll-view" style="left: 0px; right: 0px; top: 0px; bottom: 0px; ">
                                            <div class="corner"></div>
                                            <div id="sc4510" class="atv4 sc2342 sc-view sc-container-view" style="left: 0px; right: 0px; top: 0px; bottom: 0px; ">
                                                <div tabindex="0" id="sc4516" class="atv4 sc2342 sc-view sc-collection-view sc-list-view collection" style="left: 0px; right: 0px; top: 0px; bottom: 0px; min-height: 99px">
                                                    <div title="iCloud: Welcome to iCloud Mail." aria-hidden="false" id="sc4516-0" class="atv4 sc2342 sc-view sc-list-item-view message sc-collection-item read sc-regular-size" style="left: 0px; right: 0px; top: 0px; height: 98px">
                                                        <div class="left-msg" title="Mark as unread">
                                                            <div class="top-flag read" title="Mark as unread"></div>
                                                            <div class="middle-flag "></div>
                                                        </div>
                                                        <div class="right-msg">
                                                            <div class="first-row">
                                                                <span class="wrapper"><span class="sender">iCloud</span></span>
                                                                <span class="account" style="color:#a8a8a8;"></span>
                                                                <span class="date">02/05/14</span>
                                                            </div>
                                                            <div class="second-row subject">Welcome to iCloud Mail.</div>
                                                            <div class="third-row-wrapper">
                                                                <div class="third-row preview">Welcome to iCloud Mail. Your email address is roknight23@icloud.com. To use iCloud Mail with another device or computer, turn on Mail in iCloud settings - http://help.apple.com/icloud/#mmdd8d1d47. You can also access your mail at iCloud.com. --- iCloud is a service provided by Apple. My Apple ID: https://appleid.apple.com/choose-your-country/ Support: http://www.apple.com/support/icloud/ww Terms and Conditions: http://www.apple.com/legal/internet-services/icloud/ww/ Privacy Policy: http://www.apple.com/legal/internet-services/privacy/ Copyright 2014 Apple Inc. 1 Infinite Loop, Cupertino, CA 95014, United States. All rights reserved.</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div role="scrollbar" aria-disabled="true" aria-orientation="vertical" aria-valuemax="0" aria-valuemin="0" aria-valuenow="0" aria-controls="sc4516" id="sc4525" class="atv4 sc2342 sc-view sc-scroller-view sc-fading-capless-scroller-view sc-hidden disabled sc-vertical controls-hidden sc-fading-capless-scroller-view-invisible" style="left: 0px; right: 0px; top: 0px; bottom: 0px">
                                                <div class="track"></div>
                                                <div class="thumb" style="height: 606px; top: 0px; opacity: 0.0010000000000000009;">
                                                    <div class="thumb-center"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="sc3025" class="atv4 sc2342 sc-view sc-split-divider-view split-divider sc-regular-size" style="left: 377px; top: 0px; cursor: ew-resize; width: 5px; bottom: 0px">
                            <div class="line"></div>
                        </div>
                        <div id="sc2363" class="atv4 sc2342 sc-view message view" style="left: 380px; top: 0px; width: 622px; bottom: 0px">
                            <div id="sc2578" class="atv4 sc2342 sc-view multi-selection-actions-view" style="margin-top: -155px; left: 0px; right: 0px; top: 50%; height: 310px">
                                <div id="sc2580" class="atv4 sc2342 sc-view sc-container-view" style="left: 0px; right: 0px; top: 0px; bottom: 0px; ">
                                    <div id="sc1741" class="atv4 sc2342 sc-view sc-image-view image" style="margin-left: -78px; left: 50%; width: 155px; top: 32px; height: 157px"><img src="data:image/gif;base64,R0lGODlhAQABAJAAAP///wAAACH5BAUQAAAALAAAAAABAAEAAAICBAEAOw==" class=" zero-messages-selected" style="position: absolute; left: 0px; top: 0px; width: 155px; height: 157px"></div>
                                </div>
                                <div id="sc2586" class="atv4 sc2342 sc-view sc-label-view multi-selection-caption label sc-regular-size ellipsis" style="left: 0px; right: 0px; top: 203px; height: 25px; text-align: center">No Message Selected</div>
                                <div id="sc2590" class="atv4 sc2342 sc-view horizontal-separator sc-hidden" style="margin-left: -226px; left: 50%; width: 451px; top: 248px; height: 1px"></div>
                                <div role="tablist" tabindex="0" id="sc2606" class="atv4 borderless sc2342 sc-view sc-segmented-view multi-selection-actions-button sc-hidden segmented sc-large-size" style="left: 0px; right: 0px; top: 255px; height: 30px; text-align: center;">
                                    <div role="tab" aria-selected="false" id="sc2623" class="atv4 borderless sc2342 sc-view sc-segment-view sc-static-layout segment button segment-separator sc-first-segment sc-segment-0 sc-large-size" style=""><label id="sc2993-label" class="sc-button-label sc-large-size ellipsis"></label></div>
                                    <div role="tab" aria-selected="false" id="sc2627" class="atv4 borderless sc2342 sc-view sc-segment-view sc-static-layout segment button segment-separator sc-middle-segment sc-segment-1 sc-large-size" style=""><label id="sc2994-label" class="sc-button-label sc-large-size ellipsis"></label></div>
                                    <div role="tab" aria-selected="false" id="sc2631" class="atv4 borderless sc2342 sc-view sc-segment-view sc-static-layout segment button segment-separator sc-last-segment sc-segment-2 sc-large-size" style=""><label id="sc2995-label" class="sc-button-label sc-large-size ellipsis"></label></div>
                                    <div role="tab" title="More..." alt="More..." aria-selected="false" aria-label="More..." id="sc2609" class="atv4 borderless sc2342 sc-view sc-segment-view sc-hidden sc-static-layout segment button segment-separator sc-last-segment sc-overflow-segment sc-large-size" style=""><label id="sc2996-label" class="sc-button-label sc-large-size ellipsis">»</label></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="sc2369" class="atv4 sc2311 sc-view sc-hidden" style="left: 0px; right: 0px; top: 0px; bottom: 0px">
                        <div id="sc2371" class="atv4 sc2311 sc-view vip-welcome-overlay" style="left: 0px; right: 0px; top: 1px; bottom: 0px; ">
                            <div id="sc2373" class="atv4 sc2311 sc-view" style="margin-top: -172px; left: 0px; right: 0px; top: 50%; height: 370px; ">
                                <div id="sc2375" class="atv4 sc2311 sc-view vip-middle" style="margin-left: -94px; left: 50%; width: 188px; top: 0px; height: 176px; "></div>
                                <div id="sc2378" class="atv4 sc2311 sc-view sc-label-view vip-title label sc-regular-size" style="left: 0px; right: 0px; top: 200px; bottom: 0px; text-align: center; ">VIP</div>
                                <div id="sc2381" class="atv4 sc2311 sc-view sc-label-view vip-text label sc-regular-size" style="left: 0px; right: 0px; top: 287px; bottom: 0px; text-align: center; ">Quickly access mail from important people.</div>
                                <div id="sc2384" class="atv4 sc2311 sc-view sc-label-view vip-text label sc-regular-size" style="left: 0px; right: 0px; top: 314px; bottom: 0px; text-align: center; ">To get started, open a message, then click on the sender's name and select VIP.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @* Top toolbar *@
            <div role="toolbar" id="sc2392" class="atv4 sc-view dock" style="left: 0px; right: 0px; top: 0px; height: 44px; ">
                <div id="sc2394" class="atv4 sc-view app-switcher-container" style="left: 0px; top: 0px; bottom: 0px; width: 250px">
                    <div id="sc2396" class="atv4 icloud-controls sc-view app-switcher" style="left: 0px; top: 0px; bottom: 0px; width: 130px">
                        <div role="button" id="sc2402" class="atv4 icloud-controls borderless sc-view sc-button-view button sc-huge-size" style="left: 13px; right: 0px; top: -6px; bottom: 0px" title="">
                            <label id="sc2997-label" class="sc-button-label sc-huge-size ellipsis">Mail</label>
                            <div class="icloud-text image"></div>
                            <div class="chevron"></div>
                        </div>
                    </div>
                    <div id="sc2409" class="atv4 sc-view toolbar-separator-left" style="right: 0px; width: 1px; top: 0px; height: 44px; "></div>
                </div>
                <div id="sc2413" class="atv4 sc-view search-container" style="left: 250px; top: 0px; bottom: 0px; width: 380px">
                    <div id="sc2416" class="atv4 sc-view search-wrapper" style="left: 0px; right: 0px; top: 0px; bottom: 0px; opacity: 1">
                        <div id="sc2420" class="message-list-search sc-view search-view" style="margin-top: -21px; left: 3px; right: 0px; top: 50%; height: 42px">
                            <div id="sc2422" class="message-list-search sc-view search-left" style="left: 0px; width: 42px; top: 0px; height: 42px; "></div>
                            <div tabindex="0" id="search-key-field" class="message-list-search sc-view sc-text-field-view search-text text-field sc-regular-size" style="left: 35px; right: 0px; top: -1px; height: 42px">
                                <div class="border"></div>
                                <div class="padding" style="right: 29px;">
                                    <div aria-hidden="true" class="hint ellipsis">Search Inbox</div>
                                    <input aria-label="" class="field" type="text" name="search-key-field" value="" spellcheck="false" maxlength="5096">
                                </div>
                                <div role="button" tabindex="0" id="sc1854" class="message-list-search sc-view sc-button-view sc-image-button-view clear-search sc-text-field-accessory-view sc-hidden image-button sc-regular-size no-min-width" style="right: 14px; width: 15px; top: 14px; height: 15px">
                                    <div class="img"></div>
                                </div>
                            </div>
                        </div>
                        <div id="sc2446" class="atv4 sc-view toolbar-separator-right" style="right: 0px; width: 1px; top: 0px; height: 44px"></div>
                    </div>
                </div>
                <div id="sc2454" class="atv4 sc-view toolbar-container" style="left: 630px; right: 0px; top: 0px; bottom: 0px">
                    <div id="sc2856" class="atv4 sc-view" style="margin-top: -22px; left: 0px; right: 0px; top: 50%; height: 44px">
                        <div id="sc2860" class="atv4 icloud-controls sc-view account-menu" style="right: 2px; width: 188px; top: 0px; bottom: 0px">
                            <div role="button" aria-haspopup="true" id="sc2863" class="atv4 icloud-controls borderless sc-view sc-button-view account-menu button sc-huge-size" style="left: 0px; right: 55px; top: -6px; bottom: 0px" title="">
                                <label id="sc2998-label" class="sc-button-label sc-huge-size ellipsis">Rufus Knight</label>
                                <div class="chevron"></div>
                            </div>
                            <div id="sc2866" class="atv4 icloud-controls sc-view account-menu-divider" style="margin-top: -11px; right: 44px; width: 1px; top: 50%; height: 22px; "></div>
                            <div role="button" tabindex="0" id="sc2870" class="atv4 icloud-controls sc-view sc-button-view sc-image-button-view image-button sc-regular-size no-min-width" style="right: 0px; width: 44px; top: 0px; bottom: 0px; ">
                                <div class="img help-icon"></div>
                            </div>
                        </div>
                        <div id="sc2875" class="atv4 sc-view left-wrapper" style="left: 0px; width: 300px; top: 2px; bottom: 0px">
                            <div role="button" tabindex="0" title="Reply, Reply All, Forward" alt="Reply, Reply All, Forward" id="toolbar-reply-menu" class="atv4 borderless sc-view sc-button-view n-m-w disabled button" style="left: 15px; width: 42px; top: 0px; height: 42px" aria-disabled="true"><img src="data:image/gif;base64,R0lGODlhAQABAJAAAP///wAAACH5BAUQAAAALAAAAAABAAEAAAICBAEAOw==" class="reply"></div>
                            <div role="button" tabindex="0" title="Flag" alt="Flag" id="toolbar-flag" class="atv4 borderless sc-view sc-button-view n-m-w disabled button" style="left: 70px; width: 42px; top: 0px; height: 42px" aria-disabled="true"><img src="data:image/gif;base64,R0lGODlhAQABAJAAAP///wAAACH5BAUQAAAALAAAAAABAAEAAAICBAEAOw==" class="flag"></div>
                            <div role="button" title="Move to Trash" alt="Move to Trash" id="toolbar-trash" class="atv4 borderless sc-view sc-button-view n-m-w disabled button" style="left: 131px; width: 42px; top: 0px; height: 42px" tabindex="0" aria-disabled="true"><img src="data:image/gif;base64,R0lGODlhAQABAJAAAP///wAAACH5BAUQAAAALAAAAAABAAEAAAICBAEAOw==" class="trash"></div>
                            <div role="button" aria-disabled="true" title="Archive" alt="Archive" id="toolbar-archive" class="atv4 borderless sc-view sc-button-view n-m-w sc-hidden disabled button" style="left: 131px; width: 42px; top: 0px; height: 42px"><img src="data:image/gif;base64,R0lGODlhAQABAJAAAP///wAAACH5BAUQAAAALAAAAAABAAEAAAICBAEAOw==" class="archive"></div>
                            <div role="button" tabindex="0" title="Move to Folder" alt="Move to Folder" id="toolbar-move-to-folder" class="atv4 borderless sc-view sc-button-view n-m-w disabled button" style="left: 192px; width: 42px; top: 0px; height: 42px" aria-disabled="true"><img src="data:image/gif;base64,R0lGODlhAQABAJAAAP///wAAACH5BAUQAAAALAAAAAABAAEAAAICBAEAOw==" class="move-to-folder"></div>
                            <div role="button" tabindex="0" title="Compose" alt="Compose" id="toolbar-compose" class="atv4 borderless sc-view sc-button-view n-m-w button" style="left: 255px; width: 42px; top: 0px; height: 42px; "><img src="data:image/gif;base64,R0lGODlhAQABAJAAAP///wAAACH5BAUQAAAALAAAAAABAAEAAAICBAEAOw==" class="compose"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cw-drop-target-container"><input class="cw-drop-target-file" type="file" multiple="multiple"></div>
        </div>



        @RenderBody()
    </div>
</body>
</html>
