<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
  -->
	<appSettings>
		<add key="PAYPAL_API_BASEURL" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" value="https://api-m.sandbox.paypal.com" />
		<add key="PAYPAL_SDK_BASEURL" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" value="https://www.sandbox.paypal.com" />
		<add key="PAYPAL_CLIENT_ID" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" value="AR7UufU5lEhYusQHTMeQshoJXdqDEHmdI_h3MZYM2SizOza64yrC5wtqOgbCD5a1NEDuKb9gVaJRp2UP" />
		<add key="PAYPAL_CLIENT_SECRET" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" value="EMz5631bbuKJtrMlz3LRCbJ5Li-Tf0NFAJ2GRqp-I8vl9Knt1m1ZwwMf_cZ7LYNsEQvOUeepP74VEOAd" />
	</appSettings>
    <connectionStrings>
        <add name="AKnightsFeast" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)"
            connectionString="Data Source=tcp:s01.everleap.com;Initial Catalog=DB_2266_aknightsf;User ID=DB_2266_aknightsf_user;Password=peach1011;Integrated Security=False;" />
    </connectionStrings>
    <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
        In the example below, the "Replace" transform will replace the entire 
        <customErrors> section of your Web.config file.
        Note that because there is only one customErrors section under the 
        <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
        <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
        </customErrors>
    -->
    </system.web>
</configuration>